@import url(http://fonts.googleapis.com/css?family=Orbitron:700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:300,300italic);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700);


$base-hue: 210;
$background-gradient: linear-gradient(hsla($base-hue,50%,70%,0.6) 0%, hsla(0,0%,0%,0.5) 100%);
$base-font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$main-heading-font: 34px 'Orbitron', sans-serif;
$sub-heading-font: 22px 'Merriweather', serif;
$third-heading-font: 26px 'Oswald', sans-serif;
$p-font: 20px 'Open Sans', serif;
$quote-font: 24px 'Merriweather', serif;
$ionize-button-font: 16px 'Oswald', sans-serif;

@mixin vendor-prefixes($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin keyframe($animation_name) {
  @-webkit-keyframes #{$animation_name} {
    @content;
  }
  @-moz-keyframes #{$animation_name} {
    @content;
  }
  @keyframes #{$animation_name} {
    @content;
  }
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHklEQVQYV2NkYGA4A8QEASNUoTEhlaMK8YYQ0cEDAFEsCc57YFelAAAAAElFTkSuQmCC) repeat;
  color: hsl(0,0%,70%);
  font-family: $base-font-family;
}

body:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background: $background-gradient;
}

.page-flash {
  display: none;
  position: absolute;
  background: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
}


h1 {
  font: $main-heading-font;
  color: hsl(0,100%,100%);
  margin-bottom: 0.7em;
  line-height: 130%;
}

h2 {
  font: $sub-heading-font;
  font-style: italic;
  color: hsl(0,0%,85%);
  margin-bottom: 1.5em;
  line-height: 150%;
}

h3 {
  font: $third-heading-font;
  color: hsl(0,0%,100%);
  margin-bottom: 0.7em;
}

p {
  font: $p-font;
  color: hsl(0,0%,70%);
  line-height: 150%;
  margin: 1em 0;
}

em {
  font-weight: bold;
}

img {
  height: 240px;
  width: 320px;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
}

blockquote {
  padding: 0 20px 10px 0;
  max-width: 250px;
  display: block;
  float: left;
  font: $quote-font;
  font-style: italic;
  text-align: center;
  color: hsl(0,0%,90%);
}

a {
  text-decoration: none;
  color: hsl($base-hue,40%,60%);
  &:hover {
    color: hsl($base-hue,40%,80%);
  }
}

.links {
  position: absolute;
  top: 15px;
  text-align: center;
  z-index: 50;
}

.fb-share-button {
  margin-left: 10px;
  vertical-align: top;
}

.twitter-share-button {
  margin-left: 10px;
}

.topbar {
  z-index: 40;
  position: absolute;
  top: 0;
  left: 0;
  height: 65px;
  width: 100%;
  padding: 10px;
  background: hsla(0,0%,0%,0.3);
  color: hsla(0,0%,100%,0.4);
  text-align: center;
}

.topbar button {
  height: 45px;
  width: 200px;
  outline: none;
  border: 3px solid hsl($base-hue,30%,40%);
  // background: hsla(0,0%,0%,0.3);
  background: hsl($base-hue,50%,10%);
  color: hsla($base-hue,80%,80%,1);
  font: $ionize-button-font;
  text-transform: uppercase;
  border-radius: 10px;
  transition: transform 0.1s, color 0.2s, border-color 0.2s, box-shadow 0.5s;
  @include vendor-prefixes(box-shadow, 0px 5px 15px hsla(0,0%,0%,0.5));
  
  &:active {
    // transition: transform 0s, border-color 0s, background 0s, box-shadow 0.5s;
    // @include vendor-prefixes(animation, 0);
    // transform: scale(1.1);
    background: hsl($base-hue,50%,30%);
    color: black;
    border-color: black;
  }
}



@include keyframe(glow_jump) {
  from { 
    transform: scale(1); 
    @include vendor-prefixes(box-shadow, 0px 0px 55px 5px hsla(210,90%,80%,0.9));
  }
  to { 
    transform: scale(1.3); 
    @include vendor-prefixes(box-shadow, 0px 0px 55px 10px white);
    color: white;
    border-color: #ccc; 
  }
}

@include keyframe(pulse) {
  0% {
    background: hsla($base-hue,60%,15%,0.5);
    border-color: hsla($base-hue,30%,90%,0.9);
  }
  100% {
    background: hsla($base-hue,50%,30%,0.5);
    border-color: hsla($base-hue,30%,60%,0.9);
  }
}


.master {
  max-width: 768px;
  margin: 80px 50px 20px 50px;
  padding: 50px;
  background-color: hsla(0,0%,0%,0.6);
  @include vendor-prefixes(box-shadow, 0 0 30px 10px hsla(0,0%,100%,0.3));
  @include vendor-prefixes(border-radius, 30px);
}

.comments {
  background: #121212;
  border-radius: 30px;
  max-width: 768px;
  margin: 0 auto 50px auto;
  padding: 0 50px 0 50px;
  @include vendor-prefixes(box-shadow, 0 0 30px 10px hsla(0,0%,100%,0.3));
}

@media screen and (max-width: 641px) {

  body:before {
    content: "";
    content: none;
    z-index: -1; 
    position: fixed;
    background: none;
  }

  body {
    background: url('bg.png');
    width: 100%;
  }

  h1 {
    margin-top: 0.5em;
    font-size: 1.8em;
    text-align: center;
  }

  h2 {
    font-size: 1.3em;
  }

  img,
  blockquote {
    display: block;
    margin: 0 auto;
    float: none;
  }

  img {
    max-width: 320px;
    max-height: 240px;
    width: 95%;
    height: auto;
  }

  .master {
    padding: 4%;
    @include vendor-prefixes(box-shadow, none);
    @include vendor-prefixes(border-radius, 0);
    margin: 100px 0 0 0;
    width: 100%;
  }

  .topbar {
    height: 100px;
  }

  .topbar button {
    margin-top: 35px;
  }

  .links {
    width: 100%;
  }

  .comments {
    padding: 4%;
    border-radius: 0px;
  }
  
}

@media screen and (min-width: 868px) {

  .topbar button {
    &:hover {
      transform: scale(1.2);
      color: white;
      border-color: #ccc;
      @include vendor-prefixes(animation, pulse 0.3s linear 0s infinite alternate);
      @include vendor-prefixes(box-shadow, 0px 0px 55px 5px white);
    }
    &:active {
      transition: transform 0s, border-color 0s, background 0s, box-shadow 0.5s;
      @include vendor-prefixes(animation, 0);
      transform: scale(1.1);
    }
  }

  .glowjump {
    @include vendor-prefixes(animation, glow_jump 0.4s ease 3s 2 alternate);
  }

  .master {
    margin: 80px auto 20px auto;
  }

  .comments {
    margin: 0 auto 50px auto;
  }
}

